run = ["php", "main.php"]

entrypoint = "main.php"
modules = ["php-8.2", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-23_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Laravel Server"

[[workflows.workflow]]
name = "Laravel Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd InspectionApp && php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36327
externalPort = 3000

[[ports]]
localPort = 40863
externalPort = 3001

[[ports]]
localPort = 41577
externalPort = 3002

[[ports]]
localPort = 43431
externalPort = 3003
